.headinner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: #09c;
    min-height: 115px;
    padding-bottom: 15px !important;
    padding: 0px 80px;
}
.headcont a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
}
.headbreadfirst svg {
    width: 13px ;
    height: 13px ;
    fill:#666;
}
.headbreadsec svg {
    width: 9px !important;
    height: 9px !important;
}
.headbreadth svg {
    width: 9px !important;
    height: 9px !important;
}
/* .headbread svg {
    width: 9px;
    height: 9px;
} */
.headbreadfirst a {
    display: flex;
    align-items: center;
    /* gap: 5px; */
    font-size: 12px;
    font-weight: 600;
    color: #666;
}
.headbread {
    display: flex;
    gap: 3px;
    width: 820px;
    margin: auto;
}
.headbread a {
    display: flex;
    align-items: center;
    /* gap: 5px; */
    text-decoration: underline;
}
.mainhe {
    background: #f0f0f0;
}
.mainheadbread {
    /* background: #fff url(/_next/static/media/bg-breadcrumb.36da3ad0.png) repeat-x; */
    text-indent: 10px;
    padding: 10px 0 4px;
    width: 100%;
    border-bottom: 1px solid #aaa;
}