.maincontentsid {
    width: 820px;
    margin: auto;
}
.maincontouter {
    display: flex;
    justify-content: space-between;
}
.customaincon span#innerContainer_CurrentEmployer {
    font-weight: 800;
    font-size: 12px;
    width: 100%;
 }
 .customaincon span.styles_fauxLabel__fMl5r {
    font-size: 10px;
    margin-right: 30px;
}
.customaincon {
    border: 1px dashed;
    padding: 10px 30px;
}
.customaincon span#innerContainer_CurrentRepresentativeName {
    font-weight: 800;
    font-size: 12px;
}
.customaincon a#innerContainer_logoutLinkControl {
    margin-left: 20px;
    font-size: 12px;
    text-decoration: underline;
}
.headbelcon {
    display: flex;
    justify-content: space-between;
}
.headbelcon p {
    font-size: 11px;
    padding-top: 5px;
}
.headbelcon a {
    text-decoration: underline;
    font-size: 10px;
    padding-top: 5px;
}
.maincoun p {
    font-size: 10px;
    padding-top: 10px;
}
.mainform {
    padding: 20px 0px 90px 0px;
}
.userdatain p {
    color: #09c;
}
.visacon strong {
    font-weight: 500 !important;
    font-size: 11px !important;
}
.formin {
    padding-bottom: 6px;
    display: flex;
}
.formin.passtwo.pasmar {
    margin-bottom: 15px;
}
.formin label {
    font-size: 12px;
    /* margin-right: 50px; */
    /* width: 75px; */
    /* display: flex; */
}
.formin input {
        border: 1px solid;
        font-size: 12px;
        /* margin-right: 0.25em; */
        /* width: 18em; */
        border: 1px solid #aaa;
        padding: 3px;
        border-radius: 3px;
        height: 20px;
        /* margin-left: 50px; */
}

.formin label {
    font-size: 12px;
    /* margin-right: 50px; */
    width: 150px;
    line-height: 12px;
    /* display: flex; */
}
label.visaholder {
    width: 100%;
}
.userdatain {
    width: 50%;
    padding: 20px 10px;
}
.userdatain p {
    padding-bottom: 5px;
    display: flex;
}
.userdatain strong {
    width: 150px;
}
.userdata p {
    font-size: 11px;
}
button.downbtn {
    background: #09c;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin: 10px 0px;
}
.formin select {
    border: 1px solid;
        font-size: 12px;
        /* margin-right: 0.25em; */
        /* width: 18em; */
        border: 1px solid #aaa;
        padding: 3px;
        border-radius: 3px;
        /* margin-left: 50px; */
}
.formin.passhun select {
    width: 170px;
    height: 20px;
}
.formin.passtwo select {
    width: 100px;
    height: 20px;
}
.formin.passtwo input {
    width: 100px;
    height: 20px;
}
.formin input[type="date"]::placeholder {
    display: none;
}
.mainform button {
    background: #09c;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}
.user-not-found-message {
    font-size: 12px;
    padding: 30px;
    background: #ff000070;
    margin-bottom: 10px;
}

