.maincontentsid {
    width: 820px;
    margin: auto;
}
.maincontouter {
    display: flex;
    justify-content: space-between;
}
.customaincon span#innerContainer_CurrentEmployer {
    font-weight: 800;
    font-size: 12px;
    width: 100%;
 }
 .customaincon span.styles_fauxLabel__fMl5r {
    font-size: 10px;
    margin-right: 30px;
}
.customaincon {
    border: 1px dashed;
    padding: 10px 30px;
}
.customaincon span#innerContainer_CurrentRepresentativeName {
    font-weight: 800;
    font-size: 12px;
}
.customaincon a#innerContainer_logoutLinkControl {
    margin-left: 20px;
    font-size: 12px;
    text-decoration: underline;
}
.headbelcon {
    display: flex;
    justify-content: space-between;
}
.headbelcon p {
    font-size: 11px;
    padding-top: 5px;
}
.headbelcon a {
    text-decoration: underline;
    font-size: 10px;
    padding-top: 5px;
}
.maincoun p {
    font-size: 10px;
    padding-top: 10px;
}
.mainform {
    padding: 50px 0px;
}
.formin {
    padding-bottom: 15px;
    display: flex;
}
.formin label {
    font-size: 12px;
    /* margin-right: 50px; */
    /* width: 75px; */
    /* display: flex; */
}
.formin input {
    border: 1px solid;
    font-size: 12px;
    /* margin-left: 50px; */
}
.formin label {
    font-size: 12px;
    /* margin-right: 50px; */
    width: 265px;
    /* display: flex; */
}
.userdata p {
    font-size: 12px;
}
.formin select {
    border: 1px solid;
    width: 162px;
}
.formin input[type="date"] {
    width: 162px;
}
.mainform button {
    background: #09c;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}

